<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List students</title>
</head>
<body>
    <table>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Details</td>
            <td>Delete</td>
        </tr>
        {% for student in students %}
        <tr>
            <td> {{ student.firstName }} </td>
            <td> {{ student.lastName }} </td>
            <td> {{ student.email }} </td>
            <td> <a href="/students/{{ student._id }}"> details </a> </td>
            <td> <a href="/students/delete/{{ student._id }}"> delete </a> </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>